{% load static %}
<!-- Start Footer Area -->
   <footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 ptb-100 bg">
                <div class="footer-widget">
                    <div class="logo">
                        <a href="{% url 'index' %}"><span> <h2  style='color:white;'> YoungPolitics</h2> </span></a>
                    </div>
                    <p>we are dedicated professionals, who works on deep research of you and the position of your party in lok sabha and vidhana sabha constituency in your state.</p>                    
                    <ul class="social-links">
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont-skype"></i></a></li>
                        <li><a href="#"><i class="icofont-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 ptb-100">
                <div class="footer-widget quick-links-widget">
                    <h3>Quick links</h3>
                    
                    <ul class="quick-links">
                       <li><a href="{% url 'index' %}">Home</a></li> 
                       <li><a href="{% url 'about' %}">About</a></li> 
                       <li><a href="{% url 'gallery' %}">Gallery</a></li> 
                       <li><a href="{% url 'events' %}">Events</a></li> 
                       <li><a href="{% url 'volunteer' %}">Volunteers</a></li> 
                       <li><a href="{% url 'index' %}">Campaigns</a></li>
                       <li><a href="{% url 'contact' %}">Contact</a></li> 
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 ptb-100">
                <div class="footer-widget">
                    <h3>Recent post</h3>
                    
                    <ul class="recent-post">
                        <li><a href="#">New laws deliver a fairer and more sustainable GST system</a></li>
                        <li><a href="#">Fast tracking TAX relife for small and medium businesses</a></li>
                        <li><a href="#">$50 million to provide life-saving support to cancer patients</a></li>
                        <li><a href="#">New laws deliver a fairer and more sustainable GST system</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 ptb-100">
                <div class="footer-widget">
                    <h3>Instagram</h3>
                    
                    <ul class="instagram-post">
                        <li><a href="#"><img src="{% static 'assets/img/blog-img1.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'assets/img/blog-img2.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'assets/img/blog-img3.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'assets/img/blog-img3.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'assets/img/blog-img2.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'assets/img/blog-img1.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'assets/img/blog-img1.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'assets/img/blog-img2.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'assets/img/blog-img3.jpg' %}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <p>CyberFlax<i class="icofont-copyright"></i> 2023. All Rights Reserved</p>
                </div>
                
                <div class="col-lg-7 col-md-7">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class="icofont-stylish-up"></i></div>

<!-- jQuery Min JS -->
<script src="{% static 'assets/js/jquery.min.css' %}"></script>
<!-- Popper Min JS -->
<script src="{% static 'assets/js/popper.min.css' %}"></script>
<!-- Bootstrap Min JS -->
<script src="{% static 'assets/js/bootstrap.min.css' %}"></script>
<!-- Owl Carousel Min Js -->
<script src="{% static 'assets/js/owl.carousel.min.css' %}"></script>
<!-- Magnific Popup JS -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.css' %}"></script>
<!-- MixitUp JS -->
<script src="{% static 'assets/js/jquery.mixitup.min.css' %}"></script>
<!-- Jquery Menu JS -->
<script src="{% static 'assets/js/jquery.meanmenu.css' %}"></script>
<!-- WoW JS -->
<script src="{% static 'assets/js/wow.css' %}"></script>
<!-- Main JS -->
<script src="{% static 'assets/js/main.css' %}"></script>
</body>

<!-- Mirrored from templates.envytheme.com/kylehope/default/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 Jan 2023 14:08:39 GMT -->
</html>