{% extends 'base.html' %}  
{% block body %} 
{% load static %} 
        <!-- Start Page Title Area -->
        <div class="page-title">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <h3>Services</h3>
                        
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
        <!-- Start History CSS -->
        <section class="history-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="history-timeline">
                        <div class="single-history">
                            <div class="history-content left-side">
                                <h3>01</h3>
                                <h4>IMPORTANCE OF PR
                                    IN ELECTION</h4>
                                    <p>Season of Campaigning never ends, because we believe that the Political campaign should be run like
                                        a best Public Relations campaigns- and that is how we set our strategies for our clients… Let me
                                        explain</p>
                                     <br>
                                     <p><span>1. </span>What does a politician want when they start running for office? To win! In order to win, the candidate needs at
                                        least 51% of votes on election day, so if the election day is 15 months from now, then mark the date of election
                                        in your calendar and start planning backwards to reach your goals. For example, if the election was held today
                                        and your vote count were only at 35% and the next election is 15 months away. So yes, if you increase your 1%
                                        each month you will be at 51% on election day.</p>  
                                        <br> 
                                     <p><span>2. </span>The first time we engage with the client, we would like to know their main goal and when would they like to
                                        achieve their goal? We then plan accordingly to get them done on time with full effect. It won't happen in just
                                        one month, but slowly and effectively. Day by day and month by month We will get closer to their main goal.
                                        Ultimately, we will achieve the desired result of our client.</p>   
                                    
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <div class="history-image">
                                <img src="{% static 'assets/img/history-img1.jpg' %}" alt="history">
                            </div>
                        </div>
                        
                        <div class="single-history">
                            <div class="history-content right-side">
                                <h3>02</h3>
                                <h4>MAKE
                                    YOUR NEGATIVE
                                    YOUR POSITIVE</h4>
                                    <p>Every candidate has some pros and some flaws. There will be a time where your
                                        flaws can be attacked by other's which might turn down some of voters.</p>
                                        <br>
                                    <p>A good politicians acknowledge the flaws and a good campaign management team
                                        Will know how to prepare a plan in advance to reponse future attacks, with top of
                                        that we will work to turn that perceived negative into positive by building your
                                        image.
                                        </p>    
                                        <br>
                                     <p>As an election management company, we know how important PR role is in
                                        today's era. PR's identify flaws and their impact and to deal with them head-tohead before it become fatal in future. point 4- sharing yours flaws and how you
                                        fixed them is a great way of building your confidence, attract and gain the support
                                        of people.</p>   
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <div class="history-image">
                                <img src="{% static 'assets/img/history-img2.jpg' %}" alt="history">
                            </div>
                        </div>
                        
                        <div class="single-history">
                            <div class="history-content left-side">
                                <h3>03</h3>
                                <h4>IMPORTANCE OF
                                    DIGITAL AUDIENCE</h4>
                                    <p>Digital Marketing a key component in today’s era. You might be thinking how digital
                                        marketing will help in Election Management? Let me help you go through this.</p>
                                        <br>
                                    <p>Digital Marketing uses the internet and online technology such as desktop computers, mobile
                                        phones, and other Social Media platforms to promote or target audience digitally.
                                        </p>
                                        <br>
                                    <p>We all know there’s no one who doesn’t use Smartphones and Internet. All of the works today
                                        are done through internet (online database, paper work, calling, SMS, media work, PR
                                        management). Plus, smartphones are making things/work easier for everyone.
                                        </p>  
                                    <br>  
                                    <p>We all have learnt the importance of Digital Marketing/Digital Audience during the crucial
                                        time of pandemic (covid-19) where whole world is connecting through internet. Things/Work
                                        are getting done online and virtually for exp- the PM of India has addressed the nation
                                        virtually many times. These is the biggest reason we as the election management company
                                        plan to influence and target people/voters by connecting with them through digital marketing
                                        to understand their perspective.</p>
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <div class="history-image">
                                <img src="{% static 'assets/img/history-img3.jpg' %}" alt="history">
                            </div>
                        </div>
                        
                        <div class="single-history">
                            <div class="history-content right-side">
                                <h3>04</h3>
                                <h4>Election Care Services Explained</h4>
                                <p>There has been an increase in the political agitation regarding the assembly elections, such that the stir only increases when the election is about to come. There are two teams in the election game, the voter and the candidate.
                                    In this game, our task is to understand the behavior of the voter and make a strategy to make it in our favor.</p>
                                    <br>
                                    <p>There will be many of you candidates who either want to contest elections or have taken a step ahead and formed your own party. After this you leave the work to us, say that since 10 years our experienced team has worked with many parties like you and you, who have covered the journey from floor to Top together with us.</p>
                               <br>
                                <p>Our name is Election Care and Google Bhaiya will take you to us with great ease. We are the Election Management Company who will give a new flight to your political career.</p>
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                            <div class="history-image">
                                <img src="{% static 'assets/img/history-img4.jpg' %}" alt="history">
                            </div>
                        </div>
                        
                        <div class="single-history">
                            <div class="history-content left-side">
                                <h3>05</h3>
                                <h4>Political Election Campaign & Promotion</h4>
                                <p>If you’re thinking about starting an IT business, one of the essential steps is specifying your services. Provide political e-campaign service in India to help you boost up your image & reputation using the target society (Voters). We have professional & skilled staff with more years experience in political e-support.</p>
                                <br>
                                <p>Time is very important in political e-campaign because the right message at right time should reach people so that it may help in increasing the followers and reaching the targeted audience in limited time. Developing a positive image and to make sure it reaches to each and every person in the constituency.</p>
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <div class="history-image">
                                <img src="{% static 'assets/img/history-img3.jpg' %}" alt="history">
                            </div>
                        </div>
                        
                        <div class="single-history">
                            <div class="history-content right-side">
                                <h3>06</h3>
                                <h4>WHAT WE AIM AT
                                    ACHIEVING?</h4>
                                    <p>Our media management support goes far beyond writing speeches. We aimed at crafting your
                                        personality to be of a politician who is honest, trustworthy, attentive and hard working. Whether
                                        you are newcomer politician or a well know political party, we need hours to establish you as a
                                        digital brand. It will help you to increase awareness of your campaign among voters and build a
                                        genuine relationship with them by the use of the social media. Building a political brand through
                                        the effective use of media is a complex activity since it encompasses a whole gamut of thing from
                                        ideology to values to perception. With our field experience, we can provide effective and
                                        impactful management of media presence of any candidate through clear and precise
                                        communication strategy.</p>
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                            <div class="history-image">
                                <img src="{% static 'assets/img/history-img4.jpg' %}" alt="history">
                            </div>
                        </div>


                        <div class="single-history">
                            <div class="history-content left-side">
                                <h3>07</h3>
                                <h4>Public Opinion Survey
                                </h4>
                                <p>Our core team comprises of season edveterans from various fields -Market research, statistics and newsmedia. They together bring several decades of accumulated expertise about every corner of this vast country that is unrivalled and improves the chances of any political party and its candidates considerably.</p>
                                <br>
                                <p>Electoral battles are no longer fought with development and politics alone but also with statistical analysis of voting trends. It is no longer possible to win base donrhetoric. Campaigns must be based on sound decisions driven by facts from the ground level. We enable electoral success by telling you what is the reinvoter's mind.</p>
                        </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <div class="history-image">
                                <img src="{% static 'assets/img/history-img3.jpg' %}" alt="history">
                            </div>
                        </div>

                        
                </div>
            </div>
        </section>
        <!-- End History CSS -->


        
        <section class="mission-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h3> <span style='color:red'> ELECTION CAMPAIGN/  </span> FULLTIME PR</h3>
                       </p>
                </div>
                
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="single-mission">
                            
                          
                          <p style='text-align:left'><span>1. </span> Image Building </p>
                          <p style='text-align:left'><span>2. </span> Booth
                            Analysis </p>
                          <p style='text-align:left'><span>3. </span> Vote
                            Analysis </p>
                          <p style='text-align:left'><span>4. </span> Content
                            for
                            Speech </p>
                          <p style='text-align:left'><span>5. </span> Content
                            for
                            Press
                            Release </p>
                          <p style='text-align:left'><span>6. </span> Making
                            Portfolios</p>
                          <p style='text-align:left'><span>7. </span> Event
                            Management </p>
                          <p style='text-align:left'><span>8. </span> Month End Work
                            Evaluation </p>
                          <p style='text-align:left'><span>9. </span> Political
                            Campaign Review</p>
                          <p style='text-align:left'><span>10. </span> Social Media Promotion or Handling Like </p>
                          <p style='text-align:left'><span>. </span> Video
                            Scripting
                            and
                            Editing
                             </p>
                          <p style='text-align:left'><span>. </span> Content for
                            target
                            audienece </p>
                          <p style='text-align:left'><span>. </span> Content
                            for social
                            media </p>
                            
                         
                        </div>
                    </div>

        </section>
        
        <!-- Start Newsletter Area -->
        <section class="newsletter-area ptb-100">
            <div class="map-image">
                <img src="{% static 'assets/img/map.png' %}" alt="map">
            </div>
            
            <div class="container">
                <div class="newsletter">
                    <span>Get exclusive news & updates</span>
                    <h3>Our newsletter</h3>
                    <form>
                        <input type="text" class="form-control" placeholder="Enter your email address">
                        <button type="submit" class="subscribe-btn"><i class="icofont-envelope"></i> Subscribe Now</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Newsletter Area -->
        
		<!-- jQuery Min JS -->
		<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<!-- Popper Min JS -->
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<!-- Bootstrap Min JS -->
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<!-- Owl Carousel Min Js -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <!-- Magnific Popup JS -->
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- MixitUp JS -->
        <script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
		<!-- Jquery Menu JS -->
		<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
		<!-- WoW JS -->
		<script src="{% static 'assets/js/wow.js' %}"></script>
		<!-- Main JS -->
		<script src="{% static 'assets/js/main.js' %}"></script>
        {% endblock %}