{% extends 'base.html' %}  
{% block body %} 
{% load static %}
<!-- Start Page Title Area -->
        <div class="page-title">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <h3>Our Team</h3>
                        
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>Our Team</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <section class="mission-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2> <span style='color:red'> Our Team Of  </span> EXPERTS</h2>
                       </p>
                </div>
                
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="single-mission">
                            
                          
                         <p style='text-align:left'>The core team is formed with the
                            people who are PRO in their fields,
                            where no one can match their minds.
                            Such as Marketing Researcher, Digital
                            Marketing, Statisticians, Journalist,
                            Social Survey Expert, Social Media
                            Expert, PR expert and Management
                            experts. They have studied from the
                            most Reputed Educational Institute of
                            India. They bring the best their minds
                            to prepare a game changing plan to
                            increase the chance of winning of any
                            political party.
                            </p>
                            <br>
                            <p style='text-align:left'>We conduct a proper deep Research
                                and Survey to understand the voting
                                tendencies through the date we
                                collected at the ground level. We bring
                                out the voter’s mood and opinion
                                through some Social Experiments.</p>
                                <br> 
                            <p style='text-align:left'>We provide irrefutable research and
                                analysis on public policy. We will
                                provide accurate and impartial
                                forecast that will facilitate and
                                political candidate and party.
                                </p>    
                        </div>
                    </div>

        </section>

        
        <!-- Start Upcoming Campaigns -->
        <section class="campaigns-area ptb-100">
            <div class="container">
                <div class="row">
                    {% for t in data  %}
               
                    <div class="col-lg-4 col-md-6">
                        <div class="campaignsBox">
                            <div class="campaigns-img">
                                <img src="/media/{{t.img}}" alt="campaign">
                                
                                {% comment %} <div class="date">
                                    <span>31</span>
                                    Dec, 2021
                                </div> {% endcomment %}
                            </div>
                            
                            <div class="campaigns-content">
                                <h3><a href="#">{{t.name}}</a></h3>
                                {% comment %} <span><i class="icofont-google-map"></i> Tokyo, Japan</span> {% endcomment %}
                            <p>{{t.designation}}</p>
                            </div>
                        </div>
                    </div>
                         
                    {% endfor %}
                    {% comment %} <div class="col-lg-4 col-md-6">
                        <div class="campaignsBox">
                            <div class="campaigns-img">
                                <img src="{% static 'assets/img/campaign-img1.jpg' %}" alt="campaign">
                                
                                <div class="date">
                                    <span>31</span>
                                    Dec, 2021
                                </div>
                            </div>
                            
                            <div class="campaigns-content">
                                <h3><a href="#">Human Rights Conference</a></h3>
                                <span><i class="icofont-google-map"></i> Tokyo, Japan</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquancididunt ut labore et dolor.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="campaignsBox">
                            <div class="campaigns-img">
                                <img src="{% static 'assets/img/campaign-img1.jpg' %}" alt="campaign">
                                
                                <div class="date">
                                    <span>31</span>
                                    Dec, 2021
                                </div>
                            </div>
                            
                            <div class="campaigns-content">
                                <h3><a href="#">Human Rights Conference</a></h3>
                                <span><i class="icofont-google-map"></i> Tokyo, Japan</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquancididunt ut labore et dolor.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="campaignsBox">
                            <div class="campaigns-img">
                                <img src="{% static 'assets/img/campaign-img1.jpg' %}" alt="campaign">
                                
                                <div class="date">
                                    <span>31</span>
                                    Dec, 2021
                                </div>
                            </div>
                            
                            <div class="campaigns-content">
                                <h3><a href="#">Human Rights Conference</a></h3>
                                <span><i class="icofont-google-map"></i> Tokyo, Japan</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquancididunt ut labore et dolor.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="campaignsBox">
                            <div class="campaigns-img">
                                <img src="{% static 'assets/img/campaign-img1.jpg' %}" alt="campaign">
                                
                                <div class="date">
                                    <span>31</span>
                                    Dec, 2021
                                </div>
                            </div>
                            
                            <div class="campaigns-content">
                                <h3><a href="#">Human Rights Conference</a></h3>
                                <span><i class="icofont-google-map"></i> Tokyo, Japan</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquancididunt ut labore et dolor.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="campaignsBox">
                            <div class="campaigns-img">
                                <img src="{% static 'assets/img/campaign-img1.jpg' %}" alt="campaign">
                                
                                <div class="date">
                                    <span>31</span>
                                    Dec, 2021
                                </div>
                            </div>
                            
                            <div class="campaigns-content">
                                <h3><a href="#">Human Rights Conference</a></h3>
                                <span><i class="icofont-google-map"></i> Tokyo, Japan</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquancididunt ut labore et dolor.</p>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                   
                                    <li class="page-item"><a class="page-link" href="#"><i class="icofont-double-left"></i></a></li>
                                    
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    
                                    <li class="page-item"><a class="page-link" href="#"><i class="icofont-double-right"></i></a></li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Upcoming Campaigns -->
        
		<!-- jQuery Min JS -->
		<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<!-- Popper Min JS -->
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<!-- Bootstrap Min JS -->
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<!-- Owl Carousel Min Js -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <!-- Magnific Popup JS -->
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- MixitUp JS -->
        <script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
		<!-- Jquery Menu JS -->
		<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
		<!-- WoW JS -->
		<script src="{% static 'assets/js/wow.js' %}"></script>
		<!-- Main JS -->
		<script src="{% static 'assets/js/main.js' %}"></script>
       {% endblock %}