{% extends 'superuser/basic.html' %}
{% block body %}
<div class="card card-primary">
    <div class="container">
    <h2 class="my-4">Add product</h2>
     <div class=" shadow-lg p-3 mb-5 bg-white rounded">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary my-3" value="Submit">
        <button type="button" class="btn btn-danger {% if form.instance.id %}{% else %}disabled{% endif %}" data-toggle="modal" data-target="#exampleModal{{f.instance.id}}">
            <i class="ti-trash"></i>Delete
          </button>
    </form>
        </div>

</div>
<div>
{% endblock %}