<!doctype html>
<html class="no-js" lang="en_GB" dir="ltr">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
   YoungPolitics

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/mobiscroll.javascript.min.css" rel="stylesheet" />

    <link rel="icon" href=" {% static '' %} " type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href=" {% static 'assets/common/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/common/css/font-awesome.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/common/css/themify-icons.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/common/css/toastr.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/metisMenu.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/slicknav.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/frontend/css/flaticon.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/typography.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/default-css.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/styles.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/responsive.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/fontawesome-iconpicker.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/fontawesome.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/flaticon.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/backend/css/custom-style.css' %} ">
    <!-- modernizr css -->
    <style>
        .django-ckeditor-widget {
            width: 100%;
        }
    </style>
    <script src=" {% static 'assets/common/vendor/modernizr-2.8.3.min.js' %} "></script>
</head>

<body>
    {% if messages %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% comment %} <div class="modal-body">
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <h3 class="text-danger">
                        {% else %}
                        <h3 class="text-success">
                            {% endif %}
                            {{message}}
                        </h3>{% endfor %}
                </div>
                {% endcomment %}
                <div class="modal-body">
                    <center>
                        <div class="thank-you-pop">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <img src="/static/Red-Cross-Mark-Download-PNG.png" style="height:175px;" alt="">
                            <h1 class="my-4" 1>Eroor</h1>
                            <p>{{message|safe}}</p>
                            {% else %}
                            <img src="/static/Green-Round-Tick.png" style="height:175px;" alt="">
                            <h1 class="my-4" 1>Success</h1>
                            <p>{{message|safe}}</p>
                            {% endif %}
                            </h3>

                            {% endfor %}


                        </div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-{% for message in messages %}{% if message.tags == 'error' %}danger{% else %}success{% endif %}{% endfor %}"
                        data-dismiss="modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% endif %}




    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href=" {% url 'dashboardindex' %} ">
                        <img src=" {{info.logo.url}} " alt="" />
                    </a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    {% include 'superuser/header.html' %}
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li><label class="switch yes">
                                    <input id="darkmode" type="checkbox" data-mode=off>
                                    <span class="slider-color-mode onff"></span>
                                </label></li>
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li><a class="btn  btn-primary " target="_blank" href="/"><i
                                        class="fas fa-external-link-alt mr-1"></i> View Site </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left"> {{appname|title}}{{dashboardheading}}
                            </h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a
                                        href="{% if appname and modelname %}{% url 'showdatamodel' appname modelname %}{% endif %}">{{appname|title}}{{dashboardheading}}</a>
                                </li>
                                <li><span> {{modelname|title}}
                                    </span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">

                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">admin <i
                                    class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                {% comment %} <a class="dropdown-item" href=" {% static '/admin-home/profile-update' %} ">Edit
                                    Profile</a>{% endcomment %}
                                <a class="dropdown-item" href=" {% url 'changepwd' %}">
                                    Change Password</a> 
                                <a class="dropdown-item" href=" {% url 'dashboardlogout' %} ">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Holy guacamole!</strong> You should check in on some of those fields below.

                        </div>
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% elif message.tags == "success" %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert"
                            style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %} -->
            {% block body %}
            {% endblock %}
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{% block formtitle %}{% endblock %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% block addform %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-area">
                <p>
                    &copy; Copyright  {% now "Y" %} . All Right Reserved By <a href="/"></a>
                </p>
            </div>
        </footer>
    </div>
<script src="js/mobiscroll.javascript.min.js"></script>
    <script src=" {% static 'assets/common/js/jquery-3.6.0.min.js' %} "></script>
    <script src=" {% static 'assets/common/js/jquery-migrate-3.3.2.min.js' %} "></script>
    <script src=" {% static 'assets/common/js/popper.min.js' %} "></script>
    <script src=" {% static 'assets/common/js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'assets/backend/js/metisMenu.min.js' %} "></script>
    <script src=" {% static 'assets/backend/js/jquery.slimscroll.min.js' %} "></script>
    <script src=" {% static 'assets/backend/js/jquery.slicknav.min.js' %} "></script>
    <script src=" {% static 'assets/backend/js/fontawesome-iconpicker.min.js' %} "></script>
    <script src=" {% static 'assets/common/js/toastr.min.js' %} "></script>
    <script src=" {% static 'assets/backend/js/plugins.js' %} "></script>
    <script src=" {% static 'assets/backend/js/scripts.js' %} "></script>
    <script>
        (function ($) {
            "use strict";

            $('#reload').on('click', function () {
                location.reload();
            })
            $('#darkmode').on('click', function () {
                var el = $(this)
                var mode = el.data('mode')
                $.ajax({
                    type: 'GET',
                    url: {
                        / admin - home /
                        dark - mode - toggle
                    }
                    data: {
                        mode: mode
                    },
                    success: function () {
                        location.reload();
                    },
                    error: function () {}
                });
            })
        })(jQuery);
    </script>
    <script>
        var ele = document.getElementsByTagName('input')
        var ele2 = document.getElementsByTagName('textarea')

        for (var i = 0; i < ele.length; i++) {
            if (ele[i].className == '' && ele[i].getAttribute('type') != 'checkbox') {
                ele[i].setAttribute('class', 'form-control col')
            }
            if (ele[i].className == 'self.fields[f.name].') {
                ele[i].setAttribute('type', 'time')
            }
        }
        for (var i = 0; i < ele2.length; i++) {
            if (ele2[i].className == '' && ele2[i].getAttribute('type') != 'checkbox') {
                ele2[i].setAttribute('class', 'form-control col')
            }
            if (ele2[i].className == 'vTimeField') {
                ele2[i].setAttribute('type', 'time')
            }
        }
        var sel = document.getElementsByTagName('select')
        for (var i = 0; i < sel.length; i++) {
            sel[i].setAttribute('class', 'form-control col')
        }
        var ele = document.getElementsByTagName('input')
        for (var i = 0; i < ele.length; i++) {
            if (ele[i].className == '' && ele[i].getAttribute('type') != 'checkbox') {
                ele[i].setAttribute('class', 'form-control col')
            }
            if (ele[i].className == 'vTimeField') {
                ele[i].setAttribute('type', 'time')
            }
            if (ele[i].className == 'vDateField') {
                ele[i].setAttribute('type', 'date')
                ele[i].setAttribute('class', 'form-control')
            }
            if (ele[i].className == 'vDateTime') {
                ele[i].setAttribute('value', ele[i].value.replace(" ","T"))
                ele[i].setAttribute('type', 'datetime-local')
                ele[i].setAttribute('class', 'form-control')
            }
        }
        var sel = document.getElementsByTagName('select')
        for (var i = 0; i < sel.length; i++) {
            sel[i].setAttribute('class', 'form-control col')
        }
    </script>
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js">
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script>
        $(document).ready(function () {
            $('table').DataTable();
        });
        dTable = $('table').DataTable({});
        $('input[name=table_search]').keyup(function () {
            dTable.search($(this).val())
        .draw(); // this  is for customized searchbox with datatable search feature.
        })
        $("a.related-widget-wrapper-link").on('click',function(){
             window.open(this.href, "yyyyy", "width=480,height=360,resizable=no,toolbar=no,menubar=no,location=no,status=no");
            return false
        })
    </script>
    
</body>

</html>