{% extends 'superuser/basic.html' %}
{% load custumfilter %}
{% block body %}
<div class="card card-primary ">
    <div class="card-header  bg-primary text-light">
        <h3 class="card-title">Edit </h3>
    </div>
    <div class="card-body ">
    <div class=" shadow-lg p-3 mb-5 bg-white rounded">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            
            <input type="submit" class="btn btn-primary my-3" />

             <div class='row container'>
    {% for data in relateddata %}
        <a href="{% url 'relatedmodel' appname=appname modelname=modelname objectid=objectid relatedfield=data.related_name %}" class ="btn btn-primary {% if forloop.counter > 1 %}mx-2{% endif %}">Available {{data.related_name}}s</a>
        {% if showrelated %}
            <div>  
            {{data|showrelated:objectid}}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    </div>
    </div>
   
</div>
{% endblock %}